ol li {
  font-size: 20px;
  color: green;
}

#middle-li {
  border: 1px solid red;
  /* top right bottom left */
  padding: 10px 5px 4px 7px;
  padding-left: 20px;

  margin-right: 5px;
  margin-bottom: 10px;
}

img {
  border: 1px solid black;
  border-radius: 50%;
}

.the-other-lis {
  border: 1px solid blue;
}

ol, ul {
  display: flex;
}

ol {
  flex-direction: row;
  height: 40vh;
  justify-content: space-around;
  align-items: baseline;
}
ul {
  border: 1px solid black;
  /* because flex direction is a column here, */
  /* justify-content will arrange on the y axis */
  /* and align-items will arrange on the x axis */
  flex-direction: column;
  height: 40vh;
  justify-content: flex-end;
}